<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="list-group">
         <% @cocktails.each do |cocktail| %>
         <div class="list-group-item list-group-item-dark">
           <%= cocktail.name %>
         </div>
         <% end %>
      </div>
    </div>
    <div class="col-10 d-flex justify-content-center text-center">
      <div class="card shadow-sm p-3 mb-5  rounded bg-dark text-white">
        <div class="card-body">
          <%= simple_form_for(@cocktail) do |f| %>
            <div class="form-inputs ">
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <%= f.input :name, label: "Baptisez votre cocktail!", placeholder: 'baptisez le!'%>
              <%= f.input :picture, as: :file, label: "et ajouter une image!" %>
            </div>
          <div class="form-actions">
            <%= f.button :submit, "Créez le!" %>
          </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  class: "btn btn-sm btn-light btn-outline-secondary rounded" -->




