<h1>Ingredients for <%= @cocktail.name %></h1>
<p>Find me in app/views/doses/new.html.erb</p>
<%= link_to 'Back to cocktails', cocktails_path, class: "btn btn-primary" %>

<div class="container">
  <div class="row-col-4">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: @ingredients %>
      <%= f.input :description %>
      <%= f.submit class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
